@model Dictionary<string,string>
@{
    ViewData["Title"] = "Index";
}

<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
    <input type="text" name="key" />
    <input type="text" name="value" />
    <button type="submit">kaydet</button>

</form>

@foreach (KeyValuePair<string,string> item in Model)
{
    <h2>@item.Key -> @item.Value <a  asp-action="DeleteItem" asp-route-name="@item.Key">sil</a></h2>
}